body {
    background-color: #808080;
}

canvas {
    background-color: transparent;
}

/*canvas.maze {
    background-color: #111111;
}
canvas.solution {
    background-color: transparent;
}*/

#viewport {
    /**
     * Position relative so that canvas elements
     * inside of it will be relative to the parent
     */
    position: relative;
    margin: 0 auto 0 auto;
    display: block;
}

#viewport canvas {
    /**
    * Position absolute provides canvases to be able
    * to be layered on top of each other
    * Be sure to remember a z-index!
    */
    position: absolute;
}